@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  @apply bg-primary-100 text-base-dark;
}

.btn {
  @apply rounded-xl
}

.btn-outline.btn-primary,
.btn-outline.btn-secondary,
.btn-outline.btn-accent,
.btn-outline.btn-accent,
.btn-outline.btn-neutral,
.btn-outline.btn-info,
.btn-outline.btn-success,
.btn-outline.btn-warning,
.btn-outline.btn-error {
  @apply hover:text-base-light;
}

.btn {
  @apply text-base-light min-h-0;
}

@layer components {
  .header-font {
    font-family: "Lilita One", sans-serif;
  }

  .section-padding {
    @apply w-full md:px-4 lg:px-10 xl:px-32 2xl:px-64 flex flex-col items-center;
  }

  .content-container {
    @apply max-w-[1500px] px-1 md:px-0 w-full;
  }

  .button {
    @apply min-h-min text-base-dark flex justify-center items-center rounded-xl;
    @apply transition-all duration-200;
    @apply enabled:hover:cursor-pointer;
    @apply disabled:border-base-700 disabled:text-base-700;
  }

  .button-outline-primary {
    @apply border border-primary text-primary font-semibold;
    @apply enabled:hover:bg-primary enabled:hover:text-base-50;
  }

  .button-outline-secondary {
    @apply border border-secondary text-secondary font-semibold;
    @apply enabled:hover:bg-secondary enabled:hover:text-base-50;
  }

  .button-outline-success {
    @apply border border-success text-success font-semibold;
    @apply enabled:hover:bg-success enabled:hover:text-base-50;
  }

  .button-outline-accent {
    @apply border border-accent text-accent font-semibold;
    @apply enabled:hover:bg-accent enabled:hover:text-base-50;
  }

  .button-outline-warning {
    @apply border border-warning text-warning font-semibold;
    @apply enabled:hover:bg-warning enabled:hover:text-base-50;
  }

}
